html {
  line-height: 1.2em;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0.625em;  
}

h1, h3 {
  margin: 0 auto;
  padding: 0.625em;
  text-align: center;
}

p {
  width: 60%;
  margin: 0 auto;
  padding: 0.625em;
  text-align: center;
}

.box1, .box2 {
  width: 90%;
  margin: 0 auto;
  padding: 0.625em;
}

.box1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.float-container {
  border: solid 1px #ccc;
}
.float-container input {
  border: none;
  outline: 0;
}
